// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "../zmk-nodefree-config/helper.h"

#define ___ &trans
#define XXX &none

#define BASE 0
#define NUM  1
#define NAV  2
#define SYM  3

#if CONFIG_WIRELESS
    #include <dt-bindings/zmk/bt.h>
    #define _BT_SEL_KEYS_ &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
#else
    #define _BT_SEL_KEYS_ &trans &trans &trans &trans &trans
#endif

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4 LH1 LH0  // left-hand keys
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4 RH0 RH1 // right-hand keys

/* left-hand HRMs */
ZMK_BEHAVIOR(hml, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;                // repeat on tap-into-hold
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R>;
    hold-trigger-on-release;             // delay positional check until key-release
)

/* right-hand HRMs */
ZMK_BEHAVIOR(hmr, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;                // repeat on tap-into-hold
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L>;
    hold-trigger-on-release;             // delay positional check until key-release
)

ZMK_BEHAVIOR(cht, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

// tap: colon | shft + tap: semicolon
ZMK_BEHAVIOR(uncolon, mod_morph,
    bindings = <&kp COLON>, <&kp SEMICOLON>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

//ZMK_COMBO(name, bindings, keypos, layers, timeout)
ZMK_COMBO(combo_esc, &kp ESC, LB2 LB3, ALL, 100)
ZMK_COMBO(combo_scln, &kp SEMICOLON, LB4 LB3, ALL, 100)
ZMK_COMBO(combo_enter, &lt SYM ENTER, RM2 RM3, ALL, 100)
ZMK_COMBO(combo_opposite_enter, &mo SYM, LM2 LM3, ALL, 100)

ZMK_LAYER(base,
     &kp SQT    &kp COMMA   &kp DOT      &kp P       &kp Y             &kp F      &kp G       &kp C       &kp R       &kp L
     &kp A      &hml LALT O &hml LCTRL E &hml LGUI U &kp I             &kp D      &hmr RGUI H &hmr RCTL T &hmr LALT N &kp S 
     &uncolon   &kp Q       &kp J        &kp K       &kp X             &kp B      &kp M       &kp W       &kp V       &kp Z
                                   &lt NUM TAB &cht LSHFT BSPC       &lt NAV SPACE  &mt LCTL FSLH
)
ZMK_LAYER(lower,
     ___        ___        ___        ___        ___                  ___        &kp N7     &kp N8     &kp N9     &kp DEL
     &kp LG(N1) &kp LG(N2) &kp LG(N3) &kp LG(N4) &kp LG(N5)           &kp PIPE   &kp N4     &kp N5     &kp N6     &kp BSLH
     &kp LG(N6) &kp LG(N7) &kp LG(N8) &kp LG(N9) &kp LG(N0)           &kp UNDER  &kp N1     &kp N2     &kp N3     &kp MINUS
                                             ___       ___            ___        &kp N0
)
ZMK_LAYER(raise,
     &kp F9     &kp F10    &kp F11    &kp F12    ___                  ___        ___        &key_repeat &kp LS(INS) &kp DEL
     &kp F5     &kp F6     &kp F7     &kp F8     &kp GRAVE            ___        &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT
     &kp F1     &kp F2     &kp F3     &kp F4     &kp TILDE            ___        ___        &kp END     &kp HOME    &kp SEMI
                                                ___    ___            &kp EQUAL  ___
)
ZMK_LAYER(symbols,
     &kp EXCL     &kp AT       &kp HASH     &kp DLLR  &kp PRCNT       &kp CARET  &kp AMPS   &kp STAR    &kp LPAR  &kp RPAR
     ___          ___          ___          ___       ___             ___        ___        &key_repeat &kp LBRC  &kp RBRC
                     _BT_SEL_KEYS_                                    ___        ___        ___         &kp UNDER &kp QMARK
                                            ___       ___             &kp EQUAL  ___
)

